# $ *. ' ; ! - = /
$ *. ' ; ! - = /
*. ' ; ! - = /
. ' ; ! - = /
' ; ! - = /
; ! - = /
! - = /
- = /
= /
/
{'' '$ *. '/
 {$ *. ' 
  { $ '/
  {
 {
{
{'/
/---'/$ 
C# $ *. ' 
C# $ *. 
'extends: default

'rules:
  C# yamllint doesn't like when we use yes and no for true and false,
  C# but that's pretty standard in Ansible.
  truthy: disable:false: truthly:false
